#margin{
  padding-top: 70px;

}



#b{
  background-color: black;
  padding-top: 90px;

  footer {
    position:relative;
    bottom: 0;
    right: 0;
    left :0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background : #1A1A1A;
    font-size : 22px;
    color: #848484;
    font-weight: bolder;

  }
}
