#header{

  .heading{
    position: absolute;
    text-align: center;
    color: white;
    top: 8%;
    right: 1%;

    #title1{
      display: block;
      letter-spacing: 3px;
      text-transform: capitalize;
      color: #848484;
      font-family: 'Lobster', cursive;

    }

    #title2{
      text-align: end;
      display: block;
      color: #963939;
      letter-spacing:2px;
      font-weight: bolder;
      text-transform: uppercase;
      font-family: 'Work Sans', sans-serif;
    }
  }
}

#background{
  background-color: black;

  padding-bottom: 50px;
}





#head {
  background-image: url(../../assets/image/background_img/pexels-albin-berlin-919073.jpg), linear-gradient(to right bottom, rgb(73, 63, 63),rgb(0,0,0));
  background-repeat: no-repeat;
  background-size:cover;
  background-position:top;
  height: 100vh;
  background-color: #000000;
  position: relative;
  z-index: -1;
}

.cardHead{
  color: white;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #848484;
  align-items: center;
  font-family: 'Work Sans', sans-serif;

  h2{
    font-weight: bolder;

  }
  a{
    text-decoration: none;
    color: white;
  }
}

.cards{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  cursor: pointer;

  .image{
    overflow: hidden;
    position: relative;
    &:hover img{
      filter: blur(3px);
      transform: scale(1.3);
      opacity: .4;
    }
    &:hover span{
      transform: scale(1) translate(-50%,-50%) ;



    }
    span{
      position: absolute;
      left: 50%;
      top: 50%;

      border: 1px solid white;
      border-radius: 50%;
      padding: 17px 23px;
      transform : translate(-50%,-50%) scale(.1) ;
      color: white;


      transition: all .5s ease-in-out;
      i{
        font-size: 15px;
      }
    }
    img{
      transition: all .5s ease-in-out;
      transform: scale(1);

    }
  }


  .p{
    padding: 5px;

    .card{
      background-color: black;



      p{
        font-size: 15px;

        span{
          color: #848484;
        }
      }
    }
  }

}

a{
  text-decoration: none;
}
@media only screen and (max-width:991px){

  .cards{
    .p{
      width: 33%;
      img{
        min-height: 200px;

      }
    }
  }
  #title1{
    font-size: 20px;
  }
  #title2{
    min-width: 400px;
    font-size: 30px;
    margin-top: 220px;
  }
  #background{
    .container{

    .col-lg-3{
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    }
  }
}

@media only screen and (min-width:992px){

  .cards{
    .p{
      width: 25%;

      img{
       min-height: 300px;
      }
    }
  }
  #title1{
    font-size: 55px;
  }
  #title2{
    max-width: 1130px;
    font-size: 42px;
    margin-top: 150px;
  }
}


